@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-size: contain;
  justify-content: center;
  background: url("./marine-collagen-scaled.jpg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* .searchInputs {
  cursor: pointer;
  justify-content: center;
  align-items: center;
} */

.buttons {
  cursor: pointer;
}

/* .Nav{
  cursor: pointer;
  background-color: aqua;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;

  padding-left: 0px;
  padding-right: 0px;
  margin-right: 10px;

  border-radius: 0px;
  padding-top: 15px;
  padding-bottom: 15px;

  cursor: pointer;

} */
